$color-primary: #08A6E4;
$color-primary-shadow: rgba(7, 172, 230, 0.16);
$color-secondary-shadow: rgba(0, 0, 0, 0.16);
$color-light-grey: #A5A5A5;
$color-black: #000;
$color-redish: #FB3B64;
$color-green: #55DFB4;
$color-grey: #A5A5A5;
$color-white: #FFFFFF;
$color-second-grey: #F7F7F7;
$color-third-grey: #E8E9ED;
$color-fourth-grey: #95989A;
$color-fifth-grey: #707070;
$primary-font-family: 'Open Sans', sans-serif;
$secondary-font-family: 'Raleway', sans-serif;