@import '../settings/colors';
/*** BE ALWAYS FIRST ***/
/*FOURTH SECTION*/

/**FIRST BOX**/

.fourth-section {
  width: 100%;
  background: $color-second-grey;
  padding: 10.5rem 25.1rem;
}

.fourth-main-container {
  width: 112.4rem;
  margin: 0 auto;
}

.fourth-smaller-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 37rem;
  width: 100%;
  border: 0.1rem solid $color-third-grey;
  border-radius: 0.5rem;
  background-color: $color-white;
  margin-bottom: 3.7rem;
  padding-left: 3.5rem;
}


.fourth-section-text-box {
  max-width: 41.5rem;
  font-size: 1.6rem;
}

.first-box::after {
  content: "";
  border-bottom: 0.4rem solid $color-redish;
  display: block;
  width: 32.7rem;
  margin-bottom: 9.1rem;
  margin-top: 5rem;
}

.fourth-smaller-container > .fourth-section-text-box > h2 {
  padding-bottom: 3rem;
}

.fourth-section-header.headers {
  line-height: 4.2rem;
}

.fourth-section-images-box-first {
  position: relative;
  margin-right: 11.7rem;
  margin-bottom: 3.8rem;
}

.fourth-section-img-one {
  position: relative;
  z-index: 1;
  width: 386px;
  height: auto;
}

.background-img-square {
  z-index: 0;
  background-color: $color-redish;
  width: 18rem;
  height: 18rem;
  border-radius: 4.1rem;
  transform: rotate(45deg);
  position: absolute;
  top: -40px;
  right: 0;
}

/**SECOND BOX**/

.fourth-smaller-container:nth-child(2) {
  flex-direction: row-reverse;
}

.fourth-section-text-box.second-box {
  margin: 7rem 2rem 7rem 0;
  width: 41.6rem;
  height: 23rem;
}

.second-box h2 {
  width: 24.6rem;
}

.second-box .second-text {
  line-height: 2.2rem;
  margin-bottom: 5rem;
}

.second-box::after {
  content: "";
  border-bottom: 0.4rem solid $color-primary;
  width: 32.7rem;
  display: block;
}

.fourth-section-images-box-second {
  position: relative;
  margin-left: 3.3rem;
}

.background-img-circle {
  width: 32rem;
  height: 32rem;
  border-radius: 50%;
  background-color: $color-primary;
  position: absolute;
  z-index: 0;
  top: -1.5rem;
}

.fourth-section-img-two {
  width: 42.6rem;
  height: 32.8rem;
  z-index: 1;
  position: relative;
}

/** THIRD BOX **/

.fourth-smaller-container-three {
  display: flex;
  height: 37rem;
}

.fourth-section-text-box-three {
  width: 62.3rem;
  margin-right: 6.1rem;
  background-color: $color-white;
  padding: 7rem 3.5rem;
}

.fourth-section-images-box-three {
  background-color: $color-green;
  max-width: 44rem;
}

.double-box h2 {
  width: 34.8rem;
  line-height: 4.2rem;
  margin-bottom: 3rem;
}

.double-box p {
  width: 55.3rem;
}

.fourth-section-text-box-three > .second-text {
  line-height: 2.2rem;
  font-size: 1.6rem;
  margin-bottom: 4.4rem;
}

.fourth-section-text-box-three::after {
  content: "";
  border-bottom: 0.4rem solid $color-green;
  width: 32.7rem;
  display: block;
}

.fourth-section-images-box-three {
  width: 44rem;
  height: 37rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fourth-section-img-three {
  width: 29.57rem;
  height: 20.77rem;
}
