@import '../settings/colors';

/* HEADER SECTION */

.first-section {
  width: 100%;
  box-shadow: 0 0.3rem 0.6rem $color-secondary-shadow;
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
}

.first-section-header.container {
  padding: 1.9rem 13.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headers {
  font-family: 'Raleway', sans-serif;
  font-size: 3.6rem;
}

.logo {
  color: $color-primary;
  font-size: 3.2rem;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  line-height: 3.7rem;
}

.header-menu {
  display: flex;
  gap: 9.5rem;
  word-spacing: 0.328rem;
  text-transform: uppercase;
  border: transparent;
  letter-spacing: 0.1875rem;
}

.nav-link {
  color: $color-light-grey;
  font-weight: 700;
  border-bottom: 0.4rem solid transparent;
  text-transform: uppercase;
  padding: 2.8rem 1.8rem 2.75rem;
  text-decoration: none;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.nav-link:hover {
  color: $color-black;
  border-bottom: 0.4rem solid $color-primary;
}
